<div class="row">
  <div class="left-container col-4">
    <h2>Leo Eltes </h2>
    <h3>Producer & Composer</h3>
  </div>
  <div class="right-container-nav col-8">
    <a class="important-link" href='https://leoeltes.github.io/leo_eltes/audio-gallery.html'>Audio Gallery</a>
    <a class="important-link {% if page.url == '/about.html' %}active{% endif %}" href="about.html">About</a>
    <a class="important-link {% if page.url == '/portfolio.html' %}active{% endif %}" href="portfolio.html">Portfolio</a>
    <a class="important-link {% if page.url == '/contact.html' %}active{% endif %}" href="contact.html">Contact</a>
    <a class="important-link {% if page.url == '/visuals.html' %}active{% endif %}" href="visuals.html">Visuals</a>
  </div>
</div>
