<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0>
  <title> 42 Guitars - Leo Eltes </title>
  <style> body {padding: 0; margin: 0;} </style>
  <script src="my_site/assets/js/addons/p5.min.js"></script>
  <script src="my_site/assets/js/addons/p5.dom.min.js"></script>
  <script src="my_site/assets/js/addons/p5.sound.min.js"></script>
  <script src="my_site/assets/js/visualJS/visuals-42-guitars.js"></script>
  </head>
</html>
