<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="=device-width, initial-scale=1.0">
  <title> 42 Guitars Mobile - Leo Eltes </title>
  <style> body {padding: 0; margin: 0;} </style>
  <script src="/leo_eltes/assets/js/addons/p5.min.js"></script>
  <script src="/leo_eltes/assets/js/addons/p5.dom.min.js"></script>
  <script src="/leo_eltes/assets/js/addons/p5.sound.min.js"></script>
  <script src="/leo_eltes/assets/js/visualJS/visuals-42-guitars-mobile.js"></script>
  </head>
</html>
