<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="=device-width, initial-scale=1.0">
  <title> Barber Shops and Pizza Places - Leo Eltes </title>
  <style> body {padding: 0; margin: 0;} </style>
  <script src="/leo_eltes/assets/js/addons/p5.min.js"></script>
  <script src="/leo_eltes/assets/js/addons/p5.dom.min.js"></script>
  <script src="/leo_eltes/assets/js/addons/jquery-3.3.1.js"></script>
  <script src="/leo_eltes/assets/js/addons/Tone.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/superagent"></script>
  <script src="/leo_eltes/assets/js/visualJS/oscForPizza.js"></script>
  <script src="/leo_eltes/assets/js/visualJS/PizzaPlaceAndBarberShops.js"></script>
</head>
</html>
