---
layout: 'page'
---

<div class="col-6" style="padding: 0;">
  <img class="about-image" src="assets/images/about.JPG" alt="Picture"></img>
</div>
<div class='portfolio-description-box' style="padding: 0;">
  <p class="portfolio-text">
    I study Music Production and Songwritng at Örebro's School of Music in Sweden.
    My love for exploring and experimenting intermedial expressions with music
    comes from an early appreciation of film scores. The experience of audio combined
    with visuals is particularly important to me and I constantly seek to be a
    part of composing sounds that resonates with the emotions of the visuals.
  </p>
  <br>
  <p class="portfolio-text">
    Most of my inspiration regarding sound design comes from minimalistic synth
    producers and artists such as <cite> Trent Reznor </cite>(from <cite>Nine Inch Nails), Nils
    Frahm, Mike Lindsay, James Blake, Bon Iver </cite> and <cite>Grouper.</cite> But I take great
    melodic and emotional inspiration from artists with pioneering voices like
    <cite>Lorde, Joni Mitchell, Arcade Fire </cite>and <cite>Björk.</cite>

    With these contemporaries in mind my music usually takes a minimalistic approach,
    where less is more. Letting the observer or listener process and decide what
    is of importance in the art.
  </p>
  <br>
  <p class="portfolio-text">
    Alongside the love for music and film, I have a passion for
    programming and exploring the combination and expressiveness of programming
    and sound put together. I've programmed visuals to some of the tracks from my
    debut EP, <cite> Bedroom Productions </cite> (you may watch
    these by clicking on <q>Visuals</q> in the menu bar). Some of these visuals are
    interactive and dependant on the user's action as well as the frequencies
    the song journeys through.
  </p>
  <br>
  <p class="portfolio-text">
    Developing and communicating ideas are a big part of writing and producing
    music, whether it is for film or for artists. As a participant in SR's
    (Sveriges Radio, the public radio of Sweden) Creative Lab 2018, as well as a
    composer for various video documentary projects,
    I have explored and practiced, evaluating and discussing ideas from different angles.
  </p>
  <br>
  <p class="portfolio-text">
    I'm also unquestionably professional at taking care of and recording cats.
  </p>
</div>
