---
layout: 'page'
---

<div class="col-6" style="padding: 0;">
  <img class="about-image" src="assets/images/about.JPG" alt="Picture"></img>
</div>
<div class='portfolio-description-box' style="padding: 0;">
  <p class="portfolio-text">
    Swedish producer and composer Leo Eltes studies Music Production at
    Linnaeus University in Sweden. His love for film and music has made his
    approach to scoring natural and straight forward. Where he finds no shame in
    using the same two chords, as long as they express what the film maker wants
    to express.
  </p>
  <br>
  <p class="portfolio-text">
    Most of his inspiration regarding sound design comes from minimalistic synth
    producers and artists such as <cite> Trent Reznor </cite>(from <cite>Nine Inch Nails), Nils
    Frahm, Mike Lindsay, James Blake, Bon Iver </cite> and <cite>Grouper.</cite> But he takes great
    melodic and emotional inspiration from artists with pioneering voices like
    <cite>Lorde, Joni Mitchell, Arcade Fire </cite>and <cite>Björk.</cite>

    With these contemporaries in mind his music has a minimalistic approach
    where less is more. Letting the observer or listener process and decide what
    is important.
  </p>
  <br>
  <p class="portfolio-text">
    Alongside the love for music and film, he has a passion for
    programming and exploring the combination and expressiveness of programming
    and sound put together. He programmed visuals to some of the tracks from his
    recently produced EP, <cite> Bedroom Productions </cite> (you may watch
    these by clicking on <q>Visuals</q> in the menu bar). Some of these visuals are
    interactive and dependant on the user's action as well as the frequencies
    the song journeys through.
  </p>
  <br>
  <p class="portfolio-text">
    Developing and communicating ideas are a big part of writing and producing
    music, whether it is for film or for artists. As a participant in SR's
    (Sveriges Radio, the public radio of Sweden) Creative Lab 2018, as well as a
    composer for his brother's video documentation of their home town Kungsbacka,
    he has explored how to evaluate and review ideas from different angles.
  </p>
  <br>
  <p class="portfolio-text">
    He is also unquestionably professional at taking care of and recording cats.
  </p>
</div>
