---
layout: 'page'
---

<div class='text-wrap'>
  <p class="bio">
    You can always reach me efficiently through e-mail (leo@eltes.se) but you
    could also send me a message on Soundcloud. If you're feeling really lucky,
    you could try by commenting on a youtube-video (not recommended). Twitter,
    Facebook and Bandcamp are under construction, links to those will be
    available as soon as possible. Until then, you can press the icons
    below to either send an e-mail, go to my Soundcloud or go to my Youtube.
  </p>

  <p class="bio">
    I look forward to hearing from you.
  </p>
</div>
